.journalMain {
  min-height: 100vh;
  padding: 180px clamp(calc(10px + 1rem), 20vw, 2000px);
  font-family: "Sohne Kraftig", sans-serif;
  background: #fff;
}

.date {
  margin-top: 20px;
  margin-bottom: 80px;
}

.headerImage {
  margin-top: 20px;
  border-radius: 40px;
}

.textModule {
  margin-bottom: 80px;
}

.textModule h1,
.textModule h2,
.textModule h3 {
  font-weight: normal;
  font-size: calc(1rem + 2.5vw);
}

.imageModule {
  width: 120%;
  margin: 80px -10%;
  border-radius: 40px;
}

.videoContainer {
  border-radius: 40px;
  overflow: hidden;
}

.relatedContainer {
  padding: 80px clamp(calc(10px + 1rem), 3vw, 500px);
  font-family: "Sohne Kraftig", sans-serif;
}

.related {
  font-weight: normal;
  font-size: calc(1rem + 1vw);
}

@media screen and (max-width: 750px) {
  .journalMain {
    padding: 180px calc(10px + 1rem);
  }

  .textModule {
    margin-left: 20px;
    margin-right: 20px;
  }

  .imageModule {
    width: 100%;
    margin: 80px 0;
    border-radius: 20px;
  }
}
